@model IEnumerable<WEB_NETCORE_SACHS.Models.DonHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayGiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TtthanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TtgiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TtthanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TtgiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
